/* Hides the actual checkbox */
.filters input[type=checkbox] {
    display: none;
}

.type-btn {
    display: inline-block;	
    height: 32px;
    width: 32px;
    background-size: 32px;
}

.type-btn, .type-filter, .ability-filter,
.generation-filter {
    margin-left: 5px;
}

.type-btn, .generation-filter {
    margin-bottom: 5px;
}

/* Makes the label a pokemon type image that acts as a checkbox */
.normal {
    background-image: url('../img/sml-normal.png');
}

.poison {
    background-image: url('../img/sml-poison.png');
}
    
.bug {
    background-image: url('../img/sml-bug.png');
}
    
.fire {
    background-image: url('../img/sml-fire.png');
}
    
.electric {
    background-image: url('../img/sml-electric.png');
}
    
.dragon {
    background-image: url('../img/sml-dragon.png');
}

.fighting {
    background-image: url('../img/sml-fighting.png');
}
    
.ground {
    background-image: url('../img/sml-ground.png');
}
    
.ghost {
    background-image: url('../img/sml-ghost.png');
}
    
.water {
    background-image: url('../img/sml-water.png');
}
    
.psychic {
    background-image: url('../img/sml-psychic.png');
}
    
.dark {
    background-image: url('../img/sml-dark.png');
}
    
.flying {
    background-image: url('../img/sml-flying.png');
}
    
.rock {
    background-image: url('../img/sml-rock.png');
}
    
.steel {
    background-image: url('../img/sml-steel.png');
}
    
.grass {
    background-image: url('../img/sml-grass.png');
}
    
.ice {
    background-image: url('../img/sml-ice.png');
}
    
.fairy {
    background-image: url('../img/sml-fairy.png');
}

.region, .reset-btn, .submit-btn {
    border: 2px solid white;
    border-radius: 50px;
}

.type-filter p, .ability-filter p, .generation-filter p {
    font-size: 20px;
}

.region {
    display: inline-block;
}

.region, .reset-btn, .submit-btn {
    width: 70px;
	height: 24px;
    padding: 10px;
    font-size: 8px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 5px;
    text-align: center;
}

.type-btn, .region, .reset-btn, .submit-btn {
    cursor: pointer;
}

/* Makes the pokemon type checkboxes darken when checked */
.type-checkbox input[type="checkbox"]:checked + label {
    filter: brightness(50%);
}

/* Makes the region checkboxes invert colors when checked */
.region-checkbox [type="checkbox"]:checked + label {
    filter: invert(1);
}

.filter-options, .filter-buttons {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}

.type-filter, .ability-filter, .generation-filter {
    margin-right: 20px;
}

.generation-filter {
    margin-top: 0px;
}

.ability-filter, .generation-filter {
    width: 93%;
}

.filter-buttons {
    text-align: center;
}

.reset-btn, .submit-btn {
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

.filters, .type-checkbox, .region-checkbox, .filter-options, .right-side {
    display: flex;
}

.filters, .right-side {
    flex-direction: column;
}

.filter-options, .type-checkbox, .region-checkbox  {
    flex-direction: row;
}

.type-checkbox, .region-checkbox {
    flex-wrap: wrap;
}

.ability, .reset-btn, .submit-btn {
    font-family: inherit;
}

.filter-buttons {
    text-align: right;
}

.submit-btn:hover {
    background-color: #a04848;
}

.reset-btn:hover {
    background-color: #4692c4;
}

.submit-btn {
    background-color: #f15050;
}

.reset-btn{
    background-color: #2fa7d7;
}

.ability, .filter-buttons {
    width: 100%;
}

.ability {
    height: 30px;
}

@media (min-width: 768px)
{
    .type-btn {
        display: inline-block;	
        height: 48px;
        width: 48px;
        background-size: 48px;
        margin-right: 8px;
    }

    .region, .reset-btn, .submit-btn  {
        width: 120px;
        height: 35px;
        font-size: 14px;
    }
    
    .type-filter {
        margin-left: 30px;
        margin-right: 30px;
        width: 80%;
    }

    .generation-filter {
        margin-top: 100px;
    }
    
    .ability-filter, .generation-filter {
        width: 85%;
    }

    /* Styles and gives the ability dropdown a scroll bar */
    .ability {
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y: auto; 
        overflow-x: hidden;
        height: 50px;
    }
    
    .reset-btn, .submit-btn {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .submit-btn {
        margin-right: 75px;
    }
    
    .reset-btn {
        margin: 20px;
    }

    .ability, .filter-buttons {
        width: 100%;
    }
}

@media (min-width: 992px)
{
    /* Makes the pokemon type checkbox into a larger icon with words */
    .normal {
        background-image: url('../img/normal.png');
    }
    
    .poison {
        background-image: url('../img/poison.png');
    }
    
    .bug {
        background-image: url('../img/bug.png');
    }
    
    .fire {
        background-image: url('../img/fire.png');
    }
    
    .electric {
        background-image: url('../img/electric.png');
    }
    
    .dragon {
        background-image: url('../img/dragon.png');
    }
    
    .fighting {
        background-image: url('../img/fighting.png');
    }
    
    .ground {
        background-image: url('../img/ground.png');
    }
    
    .ghost {
        background-image: url('../img/ghost.png');
    }
    
    .water {
        background-image: url('../img/water.png');
    }
    
    .psychic {
        background-image: url('../img/psychic.png');
    }
    
    .dark {
        background-image: url('../img/dark.png');
    }
    
    .flying {
        background-image: url('../img/flying.png');
    }
    
    .rock {
        background-image: url('../img/rock.png');
    }
    
    .steel {
        background-image: url('../img/steel.png');
    }
    
    .grass {
        background-image: url('../img/grass.png');
    }
    
    .ice {
        background-image: url('../img/ice.png');
    }
    
    .fairy {
        background-image: url('../img/fairy.png');
    }

    .type-btn {
        width: 120px;
        height: 33px;
        background-size: 120px;
    }
    
    .region, .type-btn {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .type-filter p, .ability-filter p, .generation-filter p {
        font-size: 26px;
    }

    .type-filter {
        width: 90%;
    }

    .ability-filter, .generation-filter {
        width: 80%;
    }
}

@media (min-width: 1200px)
{
    .type-btn {
        background-size: 140px;
    }

    .type-btn, .region, .reset-btn, .submit-btn  {
        width: 140px;
        height: 38px;
        font-size: 22px;
    }

}

@media (min-width: 1600px)
{
    .type-btn {
        background-size: 200px;
    }

    .type-btn, .region, .reset-btn, .submit-btn  {
        width: 200px;
        height: 54px;
        font-size: 26 px;
    }
}