* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/background.gif');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Press Start 2P', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body, footer a, nav a {
    color: white;
}

h1 {
    font-size: 42px;
    text-align: center;
}

nav, header {
    text-transform: uppercase;
}

footer {
    font-size: 10px
}

nav {
    font-size: 2rem;
    text-align: right;
}

/* Centers icon in the nav bar to be center with the text */
nav img {
    position: relative;
    bottom: 3.5px;
    height: 32px;
    width: 32px;
    margin-left: 1rem;
    margin-left: 5px;
}

nav a:hover {
    border-bottom: white 2px solid;
}

.icon button {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
}

.words-icon {
    display: none;
}

@media (min-width: 598px)
{
    h1 {
        font-size: 58px;
    }

    footer {
        font-size: 12px
    }
}

@media (min-width: 768px)
{
    h1 {
        font-size: 76px;
    }

    footer {
        font-size: 14px
    }
}

@media (min-width: 992px)
{
    h1 {
        font-size: 90px;
    }

    nav a {
        text-decoration: none;
        margin-right: 1rem;
    }

    footer {
        font-size: 16px
    }
    
    .icon {
        display: none;
    }

    .words-icon {
        display: block;
    }
}